<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title color= #03989E>
      .
    </ion-title>
  </ion-toolbar>
</ion-header> 

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">CURATE</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 2</ion-title>
    </ion-toolbar>
  </ion-header>
  <iframe width="600" height="450" src="https://datastudio.google.com/embed/reporting/e71f3f9d-96e7-49a2-95b0-896660e4e46e/page/u8RaB" 
  frameborder="0" style="border:0" allowfullscreen></iframe>
</ion-content>
